version: '3.8'

services:
  apache:
    build:
      context: .
      dockerfile: Dockerfile  # Sử dụng Dockerfile mà bạn vừa tạo
    container_name: apache_container
    ports:
      - "8080:80" # Mở cổng 80 của container ra ngoài cổng 8080 trên host
    volumes:
      - ./app:/var/www/html # Mã nguồn PHP
      - ./conf/apache.conf:/etc/apache2/sites-available/000-default.conf # Cấu hình Apache
      - ./env/mysql.env:/var/www/html/.env # Đảm bảo file mysql.env được gắn vào đúng vị trí
    env_file:
      - ./env/apache.env # Đọc các biến môi trường từ tệp apache.env
    networks:
      - webnet

  mysql:
    image: mysql:5.7  # Hoặc sử dụng phiên bản bạn cần
    container_name: mysql_container
    env_file:
      - ./env/mysql.env  # Sử dụng tệp mysql.env cho MySQL
    volumes:
      - mysql_data:/var/lib/mysql  # Lưu trữ dữ liệu của MySQL
    ports:
      - "3306:3306"  # Chuyển tiếp cổng 3306 của MySQL ra ngoài host
    networks:
      - webnet

volumes:
  mysql_data:  # Lưu trữ dữ liệu MySQL

networks:
  webnet:
    driver: bridge
