version: '3.8'

services:
  apache:
    image: php:8.1-apache
    container_name: apache_container
    ports:
      - "8080:80"  # Mở cổng 80 của container ra ngoài cổng 8080 trên host
    volumes:
      - ./apiphp:/var/www/html  # Mã nguồn PHP
      - ./config/apache.conf:/etc/apache2/sites-available/000-default.conf  # Cấu hình Apache
    env_file:
      - ./env/apache.env  # Đọc các biến môi trường từ tệp apache.env
    depends_on:
      - mysql  # Apache phụ thuộc vào MySQL
    entrypoint: bash -c "apt-get update && apt-get install -y git curl && docker-php-ext-install pdo pdo_mysql && curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer && a2enmod rewrite && apache2-foreground"
    networks:
      - webnet

  mysql:
    image: mysql:5.7
    container_name: mysql_container
    env_file:
      - ./env/mysql.env  # Đọc các biến môi trường từ tệp mysql.env
    volumes:
      - mysql_data:/var/lib/mysql  # Lưu trữ dữ liệu MySQL
    networks:
      - webnet

volumes:
  mysql_data:

networks:
  webnet:
    driver: bridge
